.register-container{
    height: 70vh;
}

.register-container h1{
    font-size: 2em;
    color: rgb(242, 182, 17);
    font-weight: bold;
    margin: 1em auto;
    text-align: center;
    border-left: 6px solid rgba(72, 72, 209, 0.51);
    width: 23%;
}

.register-container .register-form{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
}

.register-container .register-form label{
    font-size: 1.2em;
    margin: .5em 0;
    transition: .5s;
    color: rgb(242, 182, 17);
}

.register-container .register-form label:hover{
    color: #FFF; 
}

.register-container .register-form input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(242, 182, 17);
}

.register-container .register-form input::placeholder{
    font-size: 1.1em;
    color: #FFF;
}

.register-container .register-form button{
    margin-top: 1em;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(242, 182, 17);
    background-color: transparent;
    transition: .5s;
}

.register-container .register-form button:hover{
    background-color: rgb(242, 182, 17);
    color: black;
}

.register-container .register-form p{
    margin-top: 1em;
    text-align: center;
}

.register-container .register-form p a{
    color: rgb(242, 182, 17);
    text-decoration: none;
}