footer {
    height: 20vh;
    border-top: 2px solid rgb(32, 67, 114);
    text-align: center;
    font-size: 1em;
    justify-content: center;
}

footer span{
    color: rgb(255, 108, 3);
}

footer p{
    text-align: center;
    margin-top: 50px;
}