.containner {
    padding: 2.8em 0 0;
    border: 2px solid #000;
    height: 82%;
    width: 40vw;
    margin: 3em auto 0;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.containner h1 {
    margin-right: auto;
    margin-left: 1.5em;
    font-weight: bold;
    color: rgb(15, 24, 27);
    margin-bottom: 1em;
}

.form {
    width: 40vw;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 55vh;
}

.containner input[type="submit"] {
    padding: 8px 60px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #28C2DE;
    box-shadow: 1px;
}

.containner input[type="submit"]:hover {
    color: #000;
    background-color: #CCC;
}

.containner p {
    padding-bottom: 60px;
    font-size: 1.2em;
}
